
        body {
            background-color: 	#fecaca;
            color: var(--text-main);
            font-family: 'Inter', -apple-system, sans-serif;
            margin: 0;
            line-height: 1.5;

        }

        /* 2. THE HEADER & SEARCH */
        header {
            padding: 40px 20px;
            background: linear-gradient(to bottom, #2a2a2a, var(--bg-color));
            text-align: center;
            color: #6d0d0d;
        }

        .search-box {
            width: 100%;
            max-width: 500px;
            padding: 12px 20px;
            border-radius: 50px;
            border: none;
            background: white;
            color: black;
            font-size: 1rem;
            margin-top: 20px;
        }
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.card {
    background-color:#ffd6d0;
    margin-left: 15%;
    height: 220px;
    width: 380px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    border: 3px black solid;
    border: 2px solid 	#ffd6d0; /* Neon green color */
  border-radius: 10px;
  box-shadow: 0 0 5px  #6d0d0d,  /* Inner glow */
              0 0 10px	#ffd6d0,  /* Medium glow */
              0 0 20px #b10303;  /* Outer glow */
}
form{
     text-align: center;
     margin-top: 250px;
     margin-left: 500px;
     margin-right: 500px;
     border: 2px solid 	#ffd6d0; /* Neon green color */
  border-radius: 10px;
  box-shadow: 0 0 5px  #6d0d0d,  /* Inner glow */
              0 0 10px	#ffd6d0,  /* Medium glow */
              0 0 20px #b10303;  /* Outer glow */
}
.side-image {
  float: right; /* or float: left; */
  margin-left: 20px; /* Adds space between the image and the text */
  width: 200px; /* Adjust size as needed */
  display: block;
}


#textData {
    text-align: center;
   
}
     

  